/* Add here all your css styles (customizations) */

.g-theme-bg-blue-dark-v1-opacity-0_9 {
    background-color: #64c832 !important;
}
#header #menu_container {
background-color: transparent;
padding: 0px 20px 10px;
}

p_black_text{
  color: black !important;
}